.ant-menu-item-group-title {
  color: gray !important;
}

@media only screen and (max-width: 768px) {
  .ant-menu-item-group-title {
    display: none;
  }
}

.ant-menu-item-selected {
  background-color: #1890ff !important;
}

.ant-menu-item {
  color: gray !important;
}

.ant-menu-sub {
  color: gray !important;
}

.ant-menu-submenu-arrow {
  color: white !important;
}

.ant-menu-title-content {
  color: white !important;
}

.ant-menu-submenu-title {
  color: gray !important;
}

/* .ant-menu-submenu-selected {
  background-color: !important;
} */
